@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
:root {
  --color-darkgrey: #35414b;
  --color-lightgrey: #fbfafe;
  --color-grey: #f0ebfa;
  --color-violet: #794cff;
  --color-lightviolet: #796eff;
  --color-light: #e1e5ea;
  --color-blue: #3b7ff6;
  --color-white: #fff;
}

* {
  box-sizing: border-box;
}

body {
  color: #4e5a65;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
}

a {
  text-decoration: none;
  color: inherit;
}
nav {
  padding: 46px 0;
}
.navContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  width: 100%;
  border-bottom: var(--color-darkgrey);
  flex-wrap: nowrap;
  align-items: center;
  font-size: 16px;
}

.trialButton,
.opportunityButton {
  padding: 16px 24px;
  background-color: #ece6ff;
  border-radius: 4px;
  color: var(--color-violet);
  margin-left: 16px;
  white-space: nowrap;
}

.menu {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 12px 0;
}

.menu > li {
  display: inline;
  position: relative;
}
.menu > li > a {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.menu > li > a::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: " \f078";
  font-size: 12px;
  transition: transform 1s;
  margin-left: 5px;
}

.menu > li > ul {
  display: none;
  position: absolute;
  top: 24px;
  left: 0;
  width: 100%;
  padding: 10px;
}
.menu > li:hover > ul {
  display: inherit;
  animation: 1s 1 fadeIn;
}
.menu > li:hover > a::after {
  transform: rotate(180deg);
}
.menu > li > ul > li {
  padding-bottom: 10px;
}

.menu > li:nth-child(3) > a::after,
.menu > li:nth-child(5) > a::after {
  content: "";
}

.burgerMenu {
  margin-left: auto;
}
.burgerMenu:hover > .burger + .menu {
  top: 0;
}

.burger,
.menu > .logInPhone {
  display: none;
}
.burger {
  width: 30px;
  text-align: center;
}
.burger > i {
  font-size: 30px;
}
.burger > p {
  font-size: 10px;
}

.logIn {
  white-space: nowrap;
  margin-left: auto;
}

header {
  display: grid;
  grid-template-columns: 1fr 75% 1fr;
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;
}
header::before {
  content: "";
  position: absolute;

  width: 3128px;
  height: 3128px;
  left: 50%;
  transform: translate(-50%, -60%);
  background: var(--color-lightgrey);
  border: 1px solid var(--color-grey);
  border-radius: 50%;
  z-index: -1;
}
.headerContent {
  margin-top: 55px;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.headerContent > * {
  margin: 12px;
}

.discount {
  background-color: #f2f9eb;
  padding: 8px 16px 8px 0;
  border-radius: 100px;
}

.discountPercent,
.discountPrice {
  display: inline;
}

.discountPercent {
  background-color: #81c43b;
  padding: 6px 16px;
  border-radius: 100px;
  color: var(--color-white);
}
.headerGraph {
  width: 70%;
}
.headerTitle {
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  color: var(--color-darkgrey);
  width: 55%;
}

.headerText {
  width: 50%;
}

.headerText,
.functionText,
.opportunityText,
.graphText {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.enterEmail input {
  background-color: var(--color-white);
  border: 1px solid var(--color-light);
  border-radius: 4px 0px 0px 4px;
  font-size: 14px;
  color: #97a5b5;
  float: left;
  padding: 18px 24px;
}
.enterEmail button {
  padding: 18px 45px;
  float: left;
  background-color: var(--color-violet);
  color: var(--color-white);
  border: 1px solid var(--color-violet);
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
}
.graph {
  display: block;
  min-width: auto;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin: 0 auto 46px auto;
}
.teamsText {
  text-align: center;
}
.teamsText em {
  font-weight: bold;
}
.teamsList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

main section:nth-child(odd) {
  background-color: var(--color-lightgrey);
  border-top: 1px solid var(--color-grey);
  border-bottom: 1px solid var(--color-grey);
  padding: 67px 0;
}
body > main > .banner {
  border-top: 0;
  border-bottom: 0;
  padding: 0 0 100px 0;
  background-color: inherit;
}
main section:nth-child(even) {
  padding: 100px 0;
}
nav,
.functionSection,
.opportunitiesSection,
.graphSection,
.feedbacksSection,
.footerBottom,
.footerTop,
.banner {
  display: grid;
  grid-template-columns: 1fr 75% 1fr;
}
.navContent,
.opportunitiesContent,
.functionContent,
.graphContent,
.feedbacksContent,
.bannerContent,
.footerTopContent,
.footerBottomContent {
  grid-column: 2/3;
}

.functionSection {
  overflow: hidden;
}
.functionContent {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(4, minmax(auto, 128px));
}

.displayFunction {
  grid-row: 1 / 5;
  display: flex;
  justify-content: center;
  text-align: left;
}
.displayImg {
  width: 666px;
  height: 540px;
  position: relative;
  transform: scale(0.9);
}
.containerBlock {
  position: absolute;
  width: 394px;
  height: 467px;
  padding: 32px;
  overflow: hidden;
}
.containerBlock,
.container {
  background-color: var(--color-white);
  border: 1px solid var(--color-light);
  border-radius: 4px;
}
.containerBlock > p {
  margin-bottom: 32px;
}
.containerBlock > * {
  margin: 16px 0;
}
.titleContainer {
  display: grid;
  grid-template: 15px / 29px auto;
  column-gap: 16px;
  row-gap: 4px;
  align-items: center;
}
.containerTitle {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #4e5a65;
}
.containerText {
  font-weight: 400;
  font-size: 11px;
  line-height: 11px;
}
.containerComments {
  background-color: #fdf8e8;
  color: #f4cc4e;
}
.containerLine {
  position: absolute;
  width: 242px;
  height: 0;
  left: -75px;
  top: 239px;

  border: 0.5px solid var(--color-light);
  transform: rotate(90deg);
}
.containerLineSmall {
  position: absolute;
  width: 42px;
  height: 0;
  left: 25px;
  top: 421px;
  border: 0.5px solid var(--color-light);
  transform: rotate(90deg);
}
.container {
  margin-left: 51px;
  padding: 16px;
  width: 286px;
  height: 64px;
}
.container > p {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.container > p > em {
  color: var(--color-blue);
  cursor: pointer;
}
.containerComments,
.containerClock,
.containerImg {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  grid-row: 1/3;
}
.containerComments::before,
.containerClock::before {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.containerClock {
  background-color: #e5f8ed;
  color: #0dce5e;
}
.containerImg {
  background-color: var(--color-darkgrey);
  border: 1px solid var(--color-light);
}
.containerBlock:nth-child(2) {
  top: 175px;
  left: 304px;
  width: 363px;
  height: 362px;
}
.containerBlock:nth-child(2) .containerTitle {
  margin-top: 0;
}
.containerBlock:nth-child(2) .container {
  margin-left: 0;
  height: 195px;
}
.containerBlock:nth-child(2) .container > p {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  width: 229px;
}
.containerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 12px 0 auto;
  width: 90px;
  height: 42px;
  color: var(--color-white);
  background: var(--color-blue);
  border-radius: 4px;
  cursor: pointer;
}
.function {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 26px 32px;
}
.function:first-of-type {
  border-radius: 5px 5px 0 0;
}
.function ~ .function {
  border-top: 1px solid var(--color-grey);
}
.function:hover {
  background-color: #f6f3fc;
}

.function::before {
  content: "";
  height: 100%;
  width: 0px;
  transition: width 0.5s;

  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--color-violet);
}

.function:hover::before {
  content: "";
  width: 8px;
}

.functionTitle,
.opportunityTitle {
  color: var(--color-darkgrey);
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  padding-bottom: 10px;
}

.opportunities {
  display: grid;
  grid-template: repeat(2, 162px) / 320px 240px 320px;
  justify-items: start;
  justify-content: space-between;
  row-gap: 80px;
}
.opportunitiesTitle,
.graphTextTiltle,
.feedbackTilte {
  color: var(--color-darkgrey);
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
}
.opportunitiesTitle {
  padding-bottom: 56px;
  text-align: center;
}
.opportunityImg {
  background-color: var(--color-grey);
  border-radius: 50%;
  margin-bottom: 24px;
}
.opportunityButton {
  display: none;
}
.graphContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.graphTextSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 75%;
}
.graphTextTiltle {
  margin-bottom: 24px;
}
.graphText {
  margin-bottom: 32px;
}
.graphTextButton {
  color: var(--color-white);
  padding: 18px 21px;
  background: var(--color-lightviolet);
  border-radius: 4px;
}
.feedbacksContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feedback {
  max-width: 550px;
  text-align: center;
}
.feedbackTilte {
  margin: 0 48px 48px 48px;
}

.feedbackText {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 48px;
}

.feedbacksUsers {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.feedbackUser {
  display: grid;
  grid-template-columns: 48px auto;
  align-items: center;
  margin: 24px;
  position: relative;
  width: 264px;
  column-gap: 24px;
  cursor: pointer;
}
.feedbackUser > img {
  grid-row: 1/3;
}

.feedbackUser::before {
  position: absolute;
  content: "";
  background: var(--color-darkgrey);
  height: 0px;
  width: 100%;
  transition: height 0.5s;
  left: 0;
  bottom: 72px;
}

.feedbackUser:hover::before {
  height: 8px;
}

.bannerContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
  width: 100%;
  padding: 66px 80px;
  background-color: var(--color-lightviolet);
  border-radius: 16px;
  align-items: center;
  justify-items: center;
}
.bannerLinks {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  align-items: center;
}
.bannerLink ~ .bannerLink {
  margin-left: 25px;
}
.bannerText {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  padding-right: 10px;
  color: var(--color-white);
}
footer {
  background-color: #1d2830;
}
.footerTopContent,
.footerBottomContent {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.footerTopContent {
  margin: 80px 0;
}
.footerList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: var(--color-white);
  font-weight: 400;
}
.footerList > li > p,
.installTitle {
  color: #f4f5f7;
  font-weight: 600;
}
.footerList > li > ul > li {
  margin-top: 24px;
}
.install {
  display: flex;
  flex-direction: column;
}
.installTitle {
  margin-bottom: 24px;
}
.installLink ~ .installLink {
  margin-top: 16px;
}
.footerBottom {
  border-top: 1px solid var(--color-darkgrey);
}
.footerBottomContent {
  align-items: center;
  justify-items: start;
}
.socialList {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.socialList > li > a {
  margin: 24px 12px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: #343d45;
  border-radius: 50%;
}
.socialList > li > a > img {
  width: 17px;
  height: 17px;
  margin: auto 0;
}
@media screen and (max-width: 1225px) {
  .logo {
    text-align: left;
  }
  .logIn {
    display: none;
  }
  .menu {
    position: absolute;
    transform: translateY(0);
    top: -250%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    background-color: var(--color-lightgrey);
    border: 1px solid var(--color-grey);
    border-radius: 0 0 5px 5px;
  }
  .menu > li {
    width: 200px;
  }
  .menu > li > a::after {
    margin-left: auto;
  }
  .menu > li > ul {
    position: inherit;
    top: 0;
    padding-bottom: 0;
  }
  .burger,
  .menu > .logInPhone {
    display: inline-block;
  }
  .navContent {
    grid-template-columns: 1fr 1fr;
  }
  .headerGraph {
    width: 100%;
  }
  .headerTitle {
    width: 80%;
  }
  .headerText {
    width: 70%;
  }
  .feedbackUser {
    grid-template-columns: 1fr;
  }
  .functionContent {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto repeat(2, 1fr);
  }
  .displayFunction {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .displayImg {
    width: 566px;
  }
  .containerBlock:nth-child(2) {
    left: 226px;
  }
  .function:nth-of-type(2) {
    border-radius: 5px 5px 0 0;
    border-top: none;
  }
  .function:nth-of-type(1),
  .function:nth-of-type(3) {
    border-right: 1px solid var(--color-grey);
  }
  .function {
    padding: 18px 12px;
  }
  .function::before {
    width: 100%;
    height: 0px;
    transition: height 0.5s;

    left: 0;
    bottom: 0;
  }

  .function:hover::before {
    content: "";
    height: 8px;
    width: 100%;
  }
  .opportunities {
    grid-template-columns: repeat(2, minmax(auto, 350px));
    justify-items: center;
    text-align: center;
    column-gap: 30px;
  }
  .graphContent {
    grid-template-columns: 1fr;
  }
  .graphTextSection {
    order: 2;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .graph {
    padding: 0;
  }
  .feedback {
    width: 70%;
  }
  .bannerText {
    font-size: 24px;
    line-height: 32px;
  }
  .bannerLinks {
    flex-direction: column;
    justify-content: center;
  }
  .bannerLinks > .bannerLink {
    margin: 0;
  }
  .bannerLink ~ .bannerLink {
    margin-top: 25px;
  }
}
@media screen and (max-width: 768px) {
  body {
    text-align: center;
  }
  header {
    padding-bottom: 60px;
  }
  .headerContent {
    margin-top: 20px;
  }
  header::before {
    width: 1473px;
    height: 1473px;
    left: 50%;
    transform: translate(-50%, -45%);
  }
  .navContent {
    transform: scale(1, 1);
  }
  .headerGraph {
    width: 100vw;
  }
  .discountPercent {
    display: none;
  }
  .discount {
    padding: 8px 0 8px 0;
  }
  .discountPrice {
    padding: 8px 16px 8px 16px;
  }
  .headerTitle,
  .headerText {
    width: 100%;
  }
  .headerTitle {
    font-size: 32px;
    line-height: 40px;
  }
  .headerContent > * {
    margin: 8px 0;
  }
  .enterEmail > * {
    width: 100%;
    text-align: center;
  }
  .enterEmail button {
    margin-top: 8px;
    border-radius: 4px;
  }
  .teamsText {
    font-size: 11px;
    line-height: 11px;
  }
  .teamsList > li {
    transform: scale(0.7);
  }
  .teamsList > li:nth-child(5) {
    display: none;
  }
  main section:nth-child(odd) {
    padding: 32px 0;
  }
  main section:nth-child(even) {
    padding: 56px 0;
  }

  .displayFunction {
    grid-row: 1 / 2;
  }
  .displayImg {
    width: 290px;
    height: 411px;
    transform: scale(0.7);
  }
  .containerBlock:first-child {
    left: -80px;
    top: -80px;
  }
  .containerBlock .containerTitle {
    font-weight: bold;
  }
  .containerBlock:nth-child(2) {
    left: 0px;
    top: 137px;
  }
  .containerBlock:nth-child(2) > .container > p {
    font-size: large;
  }
  .containerBlock p {
    font-size: large;
  }
  .functionContent {
    grid-template-columns: 1fr;
  }
  .function:nth-of-type(2) {
    border-radius: 0;
    border-top: 1px solid var(--color-grey);
  }
  .function:nth-of-type(1),
  .function:nth-of-type(3) {
    border-right: 0;
  }
  .displayFunction {
    grid-column: 1/2;
  }
  .opportunities {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .opportunity:nth-child(4),
  .opportunity:nth-child(5),
  .opportunity:nth-child(6) {
    display: none;
  }
  .opportunityButton {
    margin-top: 40px;
    display: inherit;
  }

  .footerTopContent,
  .footerBottomContent,
  .footerList,
  .feedbackUser,
  .banner {
    grid-template-columns: 1fr;
  }
  .opportunitiesTitle,
  .graphTextTiltle,
  .feedbackTilte {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
  }

  .graphTextButton {
    width: 100%;
  }
  .feedback {
    width: 100%;
  }
  .feedbackUser {
    justify-items: center;
    row-gap: 9px;
  }
  .feedbackUser::before {
    bottom: 108px;
  }
  .feedbackUser ~ .feedbackUser {
    display: none;
  }
  .bannerContent {
    grid-template-columns: 1fr 75% 1fr;
    padding: 32px 0;
    border-radius: 0;
    grid-column: 1/4;
  }
  .bannerText {
    grid-column: 2/3;
  }
  .bannerLinks {
    flex-direction: column;
    margin-top: 32px;
    grid-column: 2/3;
  }
  .footerTopContent {
    margin: 32px 0 57px 0;
    text-align: left;
  }

  .footerList > li {
    padding: 16px 0;
  }
  .install {
    margin-top: 16px;
  }
  .footerList > li > ul {
    display: none;
  }
  .footerList > li > p {
    display: flex;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
  }

  .footerList > li > p::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: " \f078";
    font-size: 12px;
    transition: transform 1s;
  }
  .footerList > li:hover > ul {
    display: block;
    height: 100%;
    animation: 1s 1 fadeIn;
  }
  .footerList > li:hover > p::after {
    transform: rotate(180deg);
  }
  .footerBottom {
    padding: 32px 0;
  }
  .socialList {
    display: none;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
